/* for Card bg Color: #ffffff */
/* for tile bg color: #8a3bcc */
/* for borders bg color: ##863ec4 */


.mainDashBaord{
    background-color: #f9fafb;
    height: 100vh;
    width: 100vw;
    padding: 5px;
}

.Container{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 2px;
}

.inPutContainer, .outPutContainer{
    background-color: #ffffff ;
    border: 1px solid rgb(211, 208, 208);
    border-radius:8px;
    box-shadow: 0px 0px 10px rgb(211, 208, 208);
    padding: 8px 12px;
}

.HeadersTitle {
    font-family: "monospace";
    font-weight: 500;
    font-size: 1.57143em;
    line-height: 1.6em;
    color: rgb(51, 51, 51);
    margin: 0px 0px 20px;
}
.HeadersContext{
    font-family: "monospace";
    font-size: 14px;
    color: rgb(51, 51, 51);
}
